.ProductPanel {
  border-radius: 100px 100px 20px 20px;
}

.panel-border {
  border: rgb(133, 133, 133);
  border-width: 6px;
  border-style: double;
}

@media screen and (min-width: 1199.9px) {
  .ProductPanel {
    border-radius: 250px 250px 20px 20px / 350px 350px 20px 20px;
    border-width: 9px;
  }
}
