.ItemsListDiv > .CartItem:nth-child(odd) {
  background: white;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.ItemsListDiv > .CartItem:nth-child(2) {
  border-bottom: 1px solid #dfdfdf;
}
.ItemsListDiv > .CartItem:nth-child(3) {
  border-top: none;
}

.CartItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  background: var(--light);
}

.CartItem-name {
  flex-basis: 40%;
  width: 40%;
  flex-shrink: 0;
  display: inline-block;
}
.CartItem-price {
  flex-basis: 15%;
  width: 15%;
  flex-shrink: 0;
  display: inline-block;
}
.CartItem-quant-adj {
  flex-basis: 20%;
  width: 20%;
  flex-shrink: 0;
  display: inline-block;
}
.CartItem-quant-adj .quantDisplay {
  font-size: medium;
}
.CartItem-quant-adj button:hover:not(.disabled) {
  opacity: 0.5;
}
.CartItem-quant-adj .increment {
  margin-right: 1px;
}
.CartItem-total {
  flex-basis: 25%;
  width: 25%;
  flex-shrink: 0;
  display: inline-block;
}

.CartItem .disabled {
  opacity: 0.2;
}
.CartItem .disabled:focus {
  outline: none;
}

@media screen and (max-width: 575px) {
  .CartItem {
    font-size: small;
  }
  .CartItem-quant-adj .quantDisplay {
    font-size: small;
  }
}
