.ProductDetail .modal-body .details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
}

.ProductDetail .price {
  font-weight: bold;
}

.ProductDetail input[type='number'] {
  width: 3rem;
  margin-right: 1rem;
  margin-left: 0.3rem;
}

@keyframes fadeInKey {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutKey {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeInKey 0.8s ease-out 1;
}

.fadeOut {
  animation: fadeOutKey 0.8s ease-out 1;
}
