.ProductDetail .modal-body .details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
}

.ProductDetail .price {
  font-weight: bold;
}

.ProductDetail input[type='number'] {
  width: 3rem;
  margin-right: 1rem;
  margin-left: 0.3rem;
}

/* @keyframes growCart {
  from {
    transform: scale(1);
    color: white;
  }
  to {
    transform: scale(1.6);
    color: goldenrod;
  }
}

.addProductCartAnim {
  animation: growCart 0.5s ease-in-out 2 alternate;
} */
