.ProductDetail .modal-body .details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
}

.ProductDetail .price {
  font-weight: bold;
}

.ProductDetail input[type='number'] {
  width: 3rem;
  margin-right: 1rem;
  margin-left: 0.3rem;
}
