.SearchBar {
  position: sticky;
  top: 74px;
  z-index: 45;
  --shadow-color: rgba(88, 13, 13, 0.9);
}

/* landscape on phone no sticky navbar */
@media screen and (max-width: 991px) and (orientation: landscape) {
  .SearchBar {
    position: static;
  }
}

.shadow-left {
  box-shadow: -1px 1px 0 var(--shadow-color), 0 -1px 0 var(--shadow-color);
}
.shadow-middle {
  box-shadow: 0 1px 0 var(--shadow-color), 0 -1px 0 var(--shadow-color);
}
.shadow-right {
  box-shadow: 1px 1px 0 var(--shadow-color), 0 -1px 0 var(--shadow-color);
}
