/* Navbar css  */

.Navbar .Navbar-brand-img {
  transform: translateY(-2px);
}

.navbar-text {
  font-weight: 400;
}

.Navbar a:not(.navbar-brand),
.navbtn,
.navitem {
  color: rgb(206, 206, 206);
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 5px;
}

.Navbar .dropdown-menu a {
  color: inherit;
}

.Navbar a:hover:not(.nav-link),
.navbtn:hover,
.dropdown-item:hover {
  text-decoration: none;
  background-color: rgb(206, 206, 206);
  color: blue;
}

.Navbar .dropdown a:hover {
  background-color: unset;
}

.Navbar a.active:not(.navbar-brand) {
  font-weight: 500;
  background-color: rgb(206, 206, 206);
  color: black;
}

.Navbar .dropdown a.active {
  background-color: unset;
}
