.App {
  text-align: center;
}

.brand-style {
  font-family: 'Lobster', cursive;
  color: gold !important;
}

.textShadowSmall {
  text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black,
    -1px -1px 1px black;
}

.textShadowMedium {
  text-shadow: 1px 1px 3px black, -1px 1px 3px black, 1px -1px 3px black,
    -1px -1px 3px black;
}

.textShadowLarge {
  text-shadow: -4px 4px 7px black, 2px 2px 2px black, 2px -2px 2px black,
    -2px -2px 2px black;
}

.boxShadowSmall {
  box-shadow: 0px 0px 4px 0px black;
}

.boxShadowLarge {
  box-shadow: 0px 8px 10px 2px black;
}

.dark-gradient1 {
  background: linear-gradient(
    0deg,
    rgb(66, 40, 40, 0.98),
    rgba(15, 19, 117, 0.9)
  );
}

a.darkLink {
  color: var(--dark);
}
a.darkLink:hover {
  text-decoration: none;
  /* color: darkblue; */
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
