.App {
  text-align: center;
}

.dark-gradient1 {
  background: linear-gradient(0deg, rgb(47, 47, 47, 0.98), rgb(41, 14, 14));
}

.Panel-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: black;
}

a.darkLink {
  color: var(--dark);
}
a.darkLink:hover {
  text-decoration: none;
  /* color: darkblue; */
}
